

// Variables
@import 'variables';


.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}


body {
    
    padding-top: 50px;
    display:block;
    background-color: rgb(38, 94, 167);
}

.bottom-pad{
    margin-bottom: 50px;
}

.top-padding{
    margin-top: 200px;
}

.no-margin{
    margin: auto !important;
}

.no-padding{
    padding-top: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 0px !important;
}


/* Placing the bottom navbar */
.navbar-test {
  background-color: white;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.navbar{
    background-color: #6DCDEA;

}

.no-border {
    border-left: 0px !important; 
}

.navbar-brand {
    
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
    color:white;

}

.heading-2 {
	height: 28px;
	width: 125px;
	color: #111821;
	font-family: Montserrat;
	font-size: 24px;
	font-weight: 500;
	line-height: 28px;
}


.center-text{
    text-align: center;
}




.grey-background{
    background-color: #E6E8EA;
}
