.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

body {
  margin-top: 25px;
  display: inline-block;
}

.bottom-pad {
  margin-bottom: 40px;
}

.top-padding {
  margin-top: 100px;
}

