.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

body {
  padding-top: 50px;
  display: block;
  background-color: #265ea7;
}

.bottom-pad {
  margin-bottom: 50px;
}

.top-padding {
  margin-top: 500px;
}

/* Placing the bottom navbar */

.navbar-test {
  background-color: white;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.navbar {
  background-color: #6DCDEA;
}

.navbar-brand {
  width: 100%;
  left: 0;
  top: 0;
  text-align: center;
  margin: auto;
  color: white;
}

.heading-2 {
  height: 28px;
  width: 125px;
  color: #111821;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
}

.center-text {
  text-align: center;
}

.grey-background {
  background-color: #E6E8EA;
}

